*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #c9c6c6;
  font-family: sans-serif;
}

.bg-text-img {
  position: absolute;
  padding: 10px;
  width: 68%;
  height: 60px;
  top: 86%;
  left: 50%;
  border-radius: 9px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
}

.bg-text-img .title-info-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: #807d7d;
}

.bg-text-img .title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.9rem;
  color: whitesmoke;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

nav .logo {
  text-decoration: none;
  color: whitesmoke;
  padding-left: 30px;
}

nav .icon-logo-nav {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 1.9rem;
  color: #e5be68;
}

nav .burger {
  border: none;
  outline: none;
  background-color: transparent;
}

nav .burger-icon {
  color: #e5be68;
  text-shadow: 3px 3px 5px black;
  padding: 5px 10px;
  font-size: 3rem;
  cursor: pointer;
}

.hero {
  position: relative;
  height: 65vh;
  width: 100%;
  background-color: black;
  z-index: 0;
}

.hero span {
  color: white;
  text-shadow: 0 0 1px #535353;
}

.hero .bg-span::before {
  content: " ";
  position: absolute;
  margin-top: 8px;
  width: 159px;
  height: 15px;
  background-color: #e5be68;
  z-index: -1;
}

.hero .ht {
  text-align: start;
  color: whitesmoke;
}

.hero .hero-text {
  padding: 40px 10%;
  font-size: 2.5rem;
  font-weight: bold;
}

.hero .hero-second-text {
  padding: 0 10%;
  margin-bottom: 7%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #585858;
}

.hero .c-span {
  color: white;
}

.hero .hero-info-text {
  padding: 0 10%;
  text-decoration: none;
  font-weight: bold;
}

.hero span ion-icon {
  position: absolute;
  margin-top: -2px;
  font-size: 2rem;
  margin-left: 10px;
}

.container-img {
  position: relative;
}

.container-img .bg-square::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-color: black;
  z-index: -1;
}

.container-img h3 {
  position: absolute;
  top: -30px;
  left: 78%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.container-img .img1 {
  position: relative;
  width: 85%;
  height: 300px;
  margin: 0 auto 35px;
  background-image: url(https://cdn.pixabay.com/photo/2015/09/22/14/36/replacement-lamp-951781_1280.jpg);
  background-size: cover;
  background-position: center;
}

.container-img .img2 {
  position: relative;
  width: 85%;
  height: 300px;
  margin: 0 auto 35px;
  background-image: url(https://cdn.pixabay.com/photo/2019/10/11/04/25/lamps-4541084_1280.jpg);
  background-size: cover;
  background-position: center;
}

.container-img .img3 {
  position: relative;
  width: 85%;
  height: 300px;
  margin: 0 auto 35px;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/07/20/04/lamp-1081316_1280.jpg);
  background-size: cover;
  background-position: center;
}

.container-img .img4 {
  position: relative;
  width: 85%;
  height: 300px;
  margin: 0 auto 35px;
  background-image: url(https://cdn.pixabay.com/photo/2014/03/12/13/00/crystal-chandelier-286016_1280.jpg);
  background-size: cover;
  background-position: center;
}

.investiors {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

.investiors .card-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #414547;
  font-size: 21rem;
  z-index: -1;
}

.investiors .text-investors {
  position: relative;
  width: 100%;
  background-color: black;
  text-align: center;
  border-radius: 3px;
  z-index: 0;
}

.investiors h2 {
  font-family: "Sansita Swashed", cursive;
  padding: 10px;
  color: whitesmoke;
  font-size: 2rem;
  text-shadow: 3px 3px 5px black;
}

.show-info {
  margin-top: 35px;
  position: relative;
}

.show-info .show-info-img {
  height: 300px;
  width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2020/10/18/09/16/bedroom-5664221_1280.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.show-info .show-info-img::before {
  content: " ";
  position: absolute;
  top: -50px;
  left: 50px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #e5be68;
  z-index: -1;
}

.show-info h2 {
  padding: 0 10px 0 30px;
  margin: 20px 5px;
  font-size: 3rem;
  text-align: start;
}

.show-info .bg-span1::before {
  content: " ";
  position: absolute;
  margin-top: 8px;
  width: 177px;
  height: 15px;
  background-color: #e5be68;
  z-index: -1;
}

.show-info p {
  padding: 0 10px 0 30px;
  font-size: 1.4rem;
  color: #585858;
  text-align: start;
  margin-bottom: 40px;
}

.show-info a {
  margin-left: 30px;
  padding: 15px 24px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  line-height: 35px;
  background-color: #e5be68;
}

.products {
  position: relative;
  margin-top: 35px;
}

.products h2 {
  padding: 0 10px 0 30px;
  margin: 20px 5px;
  font-size: 3rem;
  text-align: start;
}

.products .bg-span1::before {
  content: " ";
  position: absolute;
  margin-top: 8px;
  width: 103px;
  height: 15px;
  background-color: #e5be68;
  z-index: -1;
}

.products .p-products {
  padding: 0 10px 0 30px;
  font-size: 1.4rem;
  color: #585858;
  text-align: start;
  margin-bottom: 40px;
}

.products .products-filter-buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.products .products-filter-buttoms .buttons {
  display: none;
}

.products .products-filter-buttoms .bg-filters {
  margin-bottom: 4px;
}

.products .products-filter-buttoms .bg-filters .filters {
  font-size: 1rem;
  padding: 3px 10px;
  white-space: nowrap;
  background-color: #d3d3c5;
  text-decoration: none;
  color: black;
  border: 1px solid #353434;
  border-radius: 7px;
}

.products .products-filter-buttoms .bg-filters .filters .icon-filter {
  padding-right: 5px;
  font-size: 1rem;
}

.products .products-filter-buttoms .updated-p {
  white-space: nowrap;
  font-size: 1.2rem;
}

.products .products-filter-buttoms .updated-p a {
  position: relative;
  color: #e5be68;
}

.products .products-filter-buttoms .updated-p a::before {
  content: " ";
  position: absolute;
  margin-top: 4px;
  height: 10px;
  width: 82px;
  padding-right: 9px;
  background-color: #757474;
  z-index: -1;
}

.products .products-img {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.products .img01 {
  background-image: url(https://cdn.pixabay.com/photo/2020/11/24/11/36/bedroom-5772286_1280.jpg);
}

.products .img02 {
  background-image: url(https://cdn.pixabay.com/photo/2021/11/08/00/30/bedroom-6778193_1280.jpg);
}

.products .img03 {
  background-image: url(https://cdn.pixabay.com/photo/2020/10/18/09/16/bedroom-5664221_1280.jpg);
}

.products .d-view-more {
  text-align: center;
  margin: 20px;
}

.products .d-view-more .view-more-btn {
  padding: 8px 16px;
  background-color: #e5be68;
  border: 1px solid #b8b8b8;
  outline: none;
}

.contact-img {
  position: relative;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2018/10/28/12/37/bedroom-3778695_1280.jpg);
  background-size: cover;
  background-position: 90% 90%;
  z-index: 0;
}

.contact-img .bg-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 54, 42, 0.3);
  z-index: -1;
}

.contact-img .contact-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.contact-img .contact-column h3 {
  color: whitesmoke;
  font-size: 2.9rem;
  padding: 10px 30px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

.contact-img .contact-column .bg-span {
  text-shadow: 3px 3px 5px #6d6d6d;
}

.contact-img .contact-column .bg-span::before {
  content: " ";
  position: absolute;
  margin-top: 8px;
  width: 200px;
  height: 21px;
  background-color: #e5be68;
  z-index: -1;
}

.contact-img .contact-column p {
  color: #b3abab;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px;
}

.contact-img .contact-column .contact-icon {
  color: #e5be68;
  font-size: 2rem;
}

.form {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: black;
}

.form .form-contact {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 12px;
  height: 80%;
  width: 80%;
  background-color: #f0f0f0;
  overflow: hidden;
}

.form .form-contact .container {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form .form-contact .container p {
  font-size: 0.9rem;
  font-weight: bold;
}

.form .form-contact .container .input-contact {
  width: 100%;
  margin-bottom: 20px;
}

.form .form-contact .container .textarea-contact {
  padding: 15px;
}

.form .form-contact .container .file-btn {
  cursor: pointer;
}

.form .form-contact .container .send-btn {
  padding: 8px;
  background-color: #e5be68;
  border: none;
  outline: none;
  border-radius: 9px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.opinions {
  position: relative;
  padding: 35px 10%;
}

.opinions h2 {
  font-size: 2.9rem;
  text-align: start;
  margin-bottom: 15px;
}

.opinions .bg-span {
  white-space: nowrap;
}

.opinions .bg-span::before {
  content: " ";
  position: absolute;
  margin-top: 8px;
  width: 157px;
  height: 17px;
  background-color: #e5be68;
  z-index: -1;
}

.opinions .p-shadow {
  text-align: start;
  color: grey;
  font-size: 1.3rem;
  margin-bottom: 35px;
}

.opinions .card-opinions {
  position: relative;
  text-align: start;
  background-color: #f3eded;
  border-radius: 9px;
  padding: 30px 25px 90px;
  margin-bottom: 30px;
}

.opinions .card-opinions .card-bottom-opinions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 25px 5px;
}

.opinions .card-opinions .card-bottom-opinions .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: 80% 80%;
}

.opinions .card-opinions .card-bottom-opinions .avatar-img {
  background-image: url(https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083387_1280.jpg);
}

.opinions .card-opinions .card-bottom-opinions .avatar-img1 {
  background-image: url(https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_1280.png);
  background-position: center;
}

.opinions .card-opinions .card-bottom-opinions .avatar-img2 {
  background-image: url(https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_1280.png);
  background-position: center;
}

.opinions .card-opinions .card-bottom-opinions .info-avatar {
  white-space: nowrap;
}

.opinions .card-opinions .card-bottom-opinions .info-avatar .p-name {
  font-weight: bold;
  margin-top: 7px;
}

.opinions .card-opinions .card-bottom-opinions .info-avatar .p-shadow1 {
  margin-top: 3px;
  font-size: 1rem;
  color: gray;
}

.opinions .card-opinions .card-bottom-opinions .decoration {
  font-family: "Secular One", sans-serif;
  margin-left: auto;
  font-size: 5rem;
  color: #e5be68;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e5be68;
}

footer .foot {
  padding: 15px;
  white-space: nowrap;
}

footer .foot span {
  font-weight: bold;
}

footer .f-icons {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */